#pokrex-jira-assistant {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.pokrex-add-to-btn-issue-page, .pokrex-open-extension-btn {
  border: 1px solid #5bc0de;
  border-radius: 0;
  padding: 5px 10px;
  background: #5bc0de;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;
  transition: all 0.1s ease-in;
  padding-top: 2px;
  padding-bottom: 3px;
  width: 165px;
  height: 40px;
}

.pokrex-add-to-btn-issue-page:hover, .pokrex-open-extension-btn:hover {
  outline: none;
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.pokrex-add-to-btn-issue-page:active,
.pokrex-add-to-btn-issue-page:focus,
.pokrex-open-extension-btn:active,
.pokrex-open-extension-btn:focus {
  outline: none;
}

.pokrex-add-to-btn-issue-page:before {
  content: "💾";
}

.pokrex-add-to-btn-issue-page:after {
  padding-left: 10px;
  content: "Add to Pokrex";
}

.pokrex-add-to-btn-issue-page.saved {
  color: #fff;
  background: transparent;
  color: #5bc0de;
}

.pokrex-add-to-btn-issue-page.saved:hover {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff;
}

.pokrex-add-to-btn-issue-page.saved:hover:before {
  content: "✂️";
}
.pokrex-add-to-btn-issue-page.saved:hover:after {
  padding-left: 10px;
  content: "Remove ticket";
}

.pokrex-add-to-btn-issue-page.saved:before {
  content: "✅";
}

.pokrex-add-to-btn-issue-page.saved:after {
  padding-left: 10px;
  content: "Ticket added";
}

.toolbar-split-left .pokrex-add-to-btn-issue-page {
  margin-top: 0;
}

.pokrex-open-extension-btn:before {
  content: "🚀";
}

.pokrex-open-extension-btn:after {
  padding-left: 10px;
  content: "Open extension";
}
